[submodule "humble_ws/src/synchros2"]
	path = humble_ws/src/synchros2
	url = https://github.com/RAI-Opensource/synchros2
[submodule "jazzy_ws/src/synchros2"]
	path = jazzy_ws/src/synchros2
	url = https://github.com/RAI-Opensource/synchros2
	branch = main
