name: Test

on:
  pull_request:
    branches: [ main, master ]
  push:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Initialize submodules
        run: |
          export PIXI_PROJECT_ROOT=$(pwd)
          bash scripts/get_submodules_and_patches.bash

      - name: Install Pixi
        uses: prefix-dev/setup-pixi@v0.8.8
        with:
          pixi-version: v0.62.2

      - name : Run test
        run: |
          pixi run --environment test test
